
body {
  background-color:#262626;
}


h1{
  color:white;
  font-size:40
}

h2{
  color:white
}

h3{
  color:mintcream;
  border: 3px solid mintcream;
  border-radius:50px;
  padding:10px;
}

p {
  color: gainsboro;
  font-size:20px;
}
a {
  color: rgb(125, 226, 228);
  font-size: 30px;
}
